<!-- HTML Code for Profile Creation/Edit -->
<!-- Created for the let's application, by Connor H, Nathan C, Patrick M, Sarah D, and Rayal B. -->
<!DOCTYPE html>
<html lang="en">
   <head>
       <meta charset="utf-8">
       <meta http-equiv="X-UA-Compatible" content="IE=edge">
       <meta name="viewport" content="width=device-width, initial-scale=1">
       <title>My Profile</title>
       <!-- Bootstrap CSS -->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
       <link href="/assets/css/style.css" rel="stylesheet">
       <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
       <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
       <!--[if lt IE 9]>
           <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
           <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
       <![endif]-->
   </head>
<body class="profilebody">
<!-- Navigation Bar -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
   <div class="container-fluid">
       <div class="navbar-header">
           <a href="../view"><img class="logo" src="/assets/images/new-lets-logo.png">
           </a>
         
           <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
       </div>
       <!-- Collect the nav links, forms, and other content for toggling -->
       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
           <ul class="nav navbar-nav navbar-right">
               <li><a href="../view">Home</a></li>
               <li><a href="../logout">Log Out</a></li>
           </ul>
       </div>
   </div>
</nav>
<div class="container">
   <div class="col-md-12">
    <div class="jumbotron" id="selfprofileBox">
    <!-- This set's the Jumbotrons header. -->
       <div class="page-header">
        {{#each user}}
         <h1 class="profileheader"><small class="username">{{this.name}}</small></h1>
       </div>
     
   <!-- Status, Interest, Location. -->
     <img src="{{this.photo}}" class="profileimg"></img>
     <h2>Status:</h2>
     <p>{{this.status}}</p>
     <h2>Interests:</h2>
     <p>{{this.interests}}</p>
     <h2>Location:</h2>
     <p>{{this.city}}, {{this.state}}</p>
     <h2>Contact:</h2>
     <a href="tel:{{this.phone}}"><span class="glyphicon glyphicon-phone glyphicon-align-left" aria-hidden="true"></span></a>
     <h2>Facebook:</h2>
     <a href="https://{{this.facebook}}">Facebook</a>
     <h2>Instagram:</h2>
     <a href="https://{{this.instagram}}">Instagram</a>
    {{/each}}
    </div>
       <!-- jQuery -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>      
       <!-- Bootstrap JavaScript -->
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       <script src="/assets/js/modal.js"></script>
</body>
</html>